# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
#*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token
backup/
tts/
#custom_components/
custom_components/alexa_media/
custom_components/hacs/
custom_components/huesensor/
custom_components/smartthinq_sensors/

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
*.bak
*.conf
*.log
*.db
*.db*
#Alex media
*.pickle

#Specific Files
.HA_VERSION
.uuid
