# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore folders
.storage
.cloud
.google.token
backup/
image/
tts/

#Ignoring specific custom components below
custom_components/alexa_media/
custom_components/hacs/
custom_components/huesensor/
custom_components/smartthinq_sensors/

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

# DB Files or special files
*.bak
*.conf
*.log
*.db
*.db*
*.sqlite

#Alexa media
*.pickle

#Specific Files
.HA_VERSION
.uuid
OZW_Log.txt
options.xml
zwscene.xml
zwcfg_0xe4c19993.xml
